/* ✅ Bootstrap CSS */
@import "bootstrap/dist/css/bootstrap.min.css";

/* ✅ Your tokens + global styles */
@import "app/design-system/styles/tokens";

body {
  font-family: var(--ds-font-family);
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}