@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

//Grid system 
@import "bootstrap/scss/grid";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";


//design tokens
@import "app/design-system/styles/tokens";

body {
  font-family: var(--ds-font-family);
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}